	/**
	 * Stripe form styles.  
	 */
	.StripeElement {
	  box-sizing: border-box;

	  height: 40px;

	  padding: 10px 12px;

	  border: 1px solid transparent;
	  border-radius: 4px;
	  background-color: white;

	  box-shadow: 0 1px 3px 0 #a2a6aa;
	  -webkit-transition: box-shadow 150ms ease;
	  transition: box-shadow 150ms ease;
	}

	.StripeElement--focus {
	  box-shadow: 0 1px 3px 0 #cfd7df;
	}

	.StripeElement--invalid {
	  border-color: #fa755a;
	}

	.StripeElement--webkit-autofill {
	  background-color: #fefde5 !important;
	}
	
	/* OVERRIDE STYLES */
	
	body {
		color: #303030;
	}
	
	.bg-danger-light {
		background-color: #FFCCCB !important;
		border: 1px solid #FF3B38;
	}
	
	.errorplacement{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.button-dark, a.button-dark {
		background: #1d2023;
		border: 0;
		color: #fff !important;
		text-decoration: none !important;
	}
	
	.padding-top-20 {
		padding-top: 20px !important;
	}
	
	.error {
		background-color: #FFCCCB !important;
		border: 1px solid #FF3B38;
	}
	
	label {
		display: block !important;;
	}
	
	input[type=checkbox] {
		float:left !important;
	}